body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  background-color: #eeeeee;
  margin-top:0;
  padding-top: 82px;
  padding-bottom: 116px;
  text-align: center;
}

.navigation,
.cart-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  text-transform: uppercase;
  list-style: none;
}

.navigation {
  display: flex;
  width: 438px;
  margin-left: 202px;
  margin-right: 245px;
}

.navigation li:nth-child(2) {
  padding-left: 47px;
  padding-right: 48px;
}

.navigation li:nth-child(3) {
  padding-right: 45px;
}

/*
.cart-list .cart-link {
  position: relative;
  padding-left: 41px;
}


.cart-link::before {
  content: "";
  top: 0px;
  left: 0px;

  width: 16px;
  height: 18px;
  background-image: url("img/svg/nerds-logo.svg");

  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
}
*/

.cart-list li {
  display: flex;
}

.cart-link {
  padding-left: 26px;
}

.cart-list svg {
  opacity: 0.3;
  padding-top: 7px;
}

.catalog-items {
  list-style: none;
  display: flex;
  margin-top: 80px;
  margin-left: 140px;
  margin-right: 200px;
  margin-bottom: 80px;
  justify-content: space-between;
}

.catalog-item h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
}

.catalog-item p {
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
  margin-top: 27px;
  margin-bottom: 35px;
}

.catalog-item p:last-child {
  margin-top: 24px;
}


.catalog-item img {
  margin-bottom: 30px;
}

.catalog-item: img:first-child {
  margin-bottom: 26px;
}

.item {
  width: 160px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.125;
  text-align: center;
  color: #ffffff;
  padding: 19px 55px 18px 53px;
}

.red {

  background-color: #fb565a;
}

.green {
  background-color: #00ca74;
}

.yellow {
  background-color: #efc84a;
}

.red:hover {

  background-color: #e74246;
}

.green:hover {
  background-color: #00bc6c;
}

.yellow:hover {
  background-color: #eab534;
}

.item:active {
  color: rgba(255, 255, 255, 0.3);
}

.red:active {
  background-color: #d7373b;
}

.green:active {
  background-color: #00aa62;
}

.yellow:active {
  background-color: #e5a722;
}

.social-media {
  display: flex;
  margin-left: 140px;
}

.social-media-logos {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 261px;
  margin-right: 139px;
  margin-top: 69px;
  margin-bottom: 69px;
  padding: 0;
}

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  width: 79px;
  height: 79px;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #e74246
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  opacity: 0.3;
}

.discount p:first-of-type {
 font-size: 36px;
 font-weight: bold;
 line-height: 1;
 margin-top: 78px;
}

.discount p:last-of-type {
  font-size: 16px;
  line-height: 1.38;
  color: #444444;
  margin-bottom: 76px;
  margin-top: 12px;
}

.net,
.features {
  list-style: none;
  font-size: 16px;
  line-height: 1.25;
  color: #283136;
  padding: 0;
  margin: 0;
}

.net {
  margin-bottom: 51px;
}

.features {
  margin-bottom: 48px;
}

.net label,
.features label {
 position: relative;
 display: block;
}

.net li,
.features li {
  margin-bottom: 22px;
  padding-left: 36px;
}

/*
.net label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -36px;
  top: 0;
  background-color: #4d4d4d;
  background-image: url("img/svg/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.net input:checked + label::before {
  background-image: url("img/svg/radio-on.svg");
}

.features label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -36px;
  top: 0;
  background-color: #4d4d4d;
  background-image: url("img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features input:checked + label::before {
  width: 27px;
  height: 23px;
  background-image: url("img/svg/checkbox-on.svg");
}


*/

.submit {
  width: 260px;
  padding: 19px 88px 18px 89px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.125;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.submit:hover {
  background-color: #dfdfdf;
}

.submit:active {

  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.submit:active .show {
  opacity: 0.3;
}

.filter h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
}

.templates {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  padding: 0;
}

.templates li {
  margin-bottom: 33px;
}

.no {
  display: none;
}

.navigation a,
.cart-list a {
  color: #000000;
}

.navigation a:hover,
.cart-list a:hover {
  color: #fb565a;
}

.navigation a:active,
.cart-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current-page {
  color: #000000;
  border-bottom: 2px solid #fb565a;
  padding-bottom: 10px;
}

.slides {
  background-color: #eeeeee;
  position: relative;
}

.slides ul {
  list-style: none;
}

.slide {
  display: none;
  background-color: #eeeeee;
  padding-left: 140px;
  padding-right: 171px;
  padding-top: 36px;
  margin: 0;
  margin-bottom: 80px;
}


.slide:nth-child(1) {
  display: flex;

}

.slide a {
  margin-bottom: 80px;

}

.slide p:first-of-type {
 font-size: 55px;
 font-weight: 500;
 line-height: 1;
}

.slide p:last-of-type {
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
  margin-top: 28px;
  margin-bottom: 42px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .active::before {

}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

#product-1:checked ~ .slides .slide:nth-child(1) {
  display: flex;
}

#product-2:checked ~ .slides .slide:nth-child(2) {
  display: flex;
}

#product-3:checked ~ .slides .slide:nth-child(3) {
  display: flex;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}


.sort h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.sort-type {
  width: 271px;
  padding: 0;
  justify-content: space-between;
}


.sort-type a {
  opacity: 0.3;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort a:hover {
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active,
.sort .current-sort {
  opacity: 1;
  color: #000000;
}

.filter h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
}

.price h3 {
  letter-spacing: 0.18px;
}

.net input[type=radio] {
  display: none;
}

.features input[type=checkbox] {
  display: none;
}

.net label,
.features label {
 height: 15px;
 font-size: 16px;
 line-height: 1.25;
 text-align: left;
 color: #283136;
}

[disabled] {
  color: rgba(40, 49, 54, 0.3);
}

.submit {
  outline: none;
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.125;
}


.submit:hover {
  background-color: #dfdfdf;
}

.submit:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.pagination-item {
 margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  box-sizing: border-box;
  display: block;
  padding: 19px 21px;
  color: #000000;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;

  font-size: 16px;
  font-weight: 500;
  line-height: 1,125;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
}


.pagination-item.next a {
  width: 260px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
 box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
 background-color: #d5d5d5;
 opacity: 0.3;
 color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a {
  border: solid 3px #dbdbdb;
  background-color: #ffffff;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.125;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}

.slide a {
  width: 240px;
  padding: 19px 55px 18px 53px;
}

.slide a:hover {
  background-color: #e74246;
}

.slide a:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  margin-left: 140px;
  margin-right: 140px;
}


.divider {
  width: 1160px;
  height: 2px;
}

.about-company {
  display: flex;
  margin-left: 141px;
  margin-bottom: 50px;
  margin-right: 0;
}

.work-ethics {
  margin-right: 149px;
}

.work-ethics p:first-child {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  margin-top: 80px;
}

.work-ethics p:nth-child(2) {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 47px;
}

.work-ethics p:nth-child(3) {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
}

.orders {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders li{
  padding-left: 35px;
  padding-top: 16px;
  padding-bottom: 14px;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
}

.orders li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 0px;

  background-color: #fb565a;
}

.with-stats {
  margin-top: 41px;
}

.with-stats p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 41px;
  margin-bottom: 49px;
  padding-left: 17px;
}


.statistics th {
  font-size: 45px;
  font-weight: bold;
  line-height: 0.2;
  text-align: left;
  padding-bottom: 27px;
}


.statistics span {
  font-size: 23px;
  font-weight: bold;
  line-height: 10px;
  vertical-align: top;
}



.pagination-list {
  display: flex;
}

.partners {
  margin-left: 140px;
  margin-right: 140px;
}

.partners ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.partners li {
  display: flex;
  padding: 0px;
}

.partners li:first-of-type {
  margin-top: 62px;
  margin-right: 49px;
  margin-bottom: 50px;
}

.partners li:nth-of-type(2) {
  margin-top: 46px;
  margin-right: 44px;
  margin-bottom: 44px;
  margin-left: 45px;
}

.partners li:nth-of-type(3) {
  margin-top: 65px;
  margin-right: 56px;
  margin-bottom: 63px;
  margin-left: 57px;
}

.partners li:last-of-type {
  margin-top: 52px;
  margin-bottom: 44px;
  margin-left: 63px;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.vertical-divider{
  width: 2px;
  height: 52px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.location {
  margin-top: 80px;
  position: relative;
}

.location p:first-of-type {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
  color: black;
  margin-bottom: 32px;
}

.location p:not(:first-of-type) {
  font-size: 16px;
  line-height: 1.125;
  color: #666666;
}

.location p:last-of-type {
  margin-bottom: 37px;
}

.location iframe {
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
}

.address {
  background-color: #ffffff;
  padding: 54px 50px 47px 50px;
  position: absolute;
  top: 54px;
  left: 140px;
  z-index: 100;
}

.map-image {
  position: absolute;
  top: 0;
  left: 0;
}

.map-marker {
  position: absolute;
  top: 89px;
  left: 820px;
}

.location a {
  width: 219px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.125;
  text-align: center;
  background-color: #fb565a;
  color: #ffffff;
  padding: 19px 46px 19px 45px;
}

.location a:hover {
  background-color: #e74246;
}

.location a:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.mail {
  position: fixe;
  top: 50px;
  left: 240px;
  width: 760px;
  padding: 73px 100px 84px 100px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
  z-index: 101;
}

.mail-show {
  display: block;

}

.modal-error {
  animation: shake 0.6s;
}


.form {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}


.form input {
  box-sizing: border-box;
  width: 360px;
  padding-top: 18px;
  padding-left: 15px;
  padding-bottom: 16px;
}

.form textarea {
  box-sizing: border-box;
  width: 760px;
  padding-top: 14px;
  padding-left: 15px;
  padding-bottom: 87px;
}

.form label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1,125;
}

.send {
  width: 260px;
  padding: 19px 84px 18px 82px;
  border: none;
  margin-top: 47px;
}

.send:hover {
  background-color: #e74246;
}

.send:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.mail h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.shop-container {
  display: flex;
}

.filter-and-features h3 {
  margin-bottom: 21px;
}

.filter-and-features {
  width: 261px;
  margin-left: 139px;
  margin-right: 140px;
}

.sort {
  display: flex;
}

.sort ul {
  list-style: none;
  display: flex;
}

.arrows {
  width: 40px;
  padding: 0;
  margin-right: 140px;
  margin-left: 48px;
  justify-content: space-between;
}

.arrows .current-flow {
  opacity: 1;
}

.arrows a {
 opacity: 0.2;
}

.template-hover {
  box-sizing: border-box;
  width: 360px;
  height: 231px;
  text-align: center;
  background-color: #eeeeee;
}

.template-hover h3 {
  margin-top: 35px;
  margin-bottom: 26px;
}

.template-hover .template-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 auto;
  color: #000000;
  text-transform: uppercase;
}

.template-hover .template-name:hover {
  color: #fb565a;
}

.template-hover .template-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.template-hover p {
  margin-top: 25px;
  margin-bottom: 49px;
  font-size: 16px;
  line-height: 1.125;
  color: #666666;
}

.templates .price {
  padding: 19px 60px 18px 62px;
  margin-bottom: 43px;
}

.templates .template-image {
  display: block;
  position: relative;
  padding-top: 40px;
}


/*
.template-image img::before {
  content: "";
  background-image: url("img/svg/browser.svg");
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
  top: -40;
  left: 0;
}

.template-image:hover img::before {
  content: "";
  background-image: url("img/svg/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

*/

.sort h3 {
  margin-right: 260px;

}

.sort {
  margin-bottom: 59px;
}


.templates li {
  position: relative;
}


.template-hover {
  display: none;
  position: absolute;
  top: 385;
  left: 0;
  z-index: 1000;

}

.template:hover .template-hover {
  display: block;
  z-index: 1;
}

.bar {
  margin-left: 20%;
  width: 30%;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 44px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.close {
  position: absolute;
  top: 78px;
  left: 849px;
  border: none;
  outline: none;
  background-color: #ffffff;
  width: 21px;
  height: 21px;
  opacity: 0.1;
}

.close:hover {
  opacity: 1;
}

.close:active {
  opacity: 0.1;
}
